body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: var(--black);
    font-family: 'Noto Serif TC', serif;
    font-size:  16px;
}
.main_body{
    min-height: 70%;
}

a{
    text-decoration: none;
    color: var(--black);
    font-family: 'Noto Serif TC', serif;
}

ul,div, p, h1, h2, h3, h4, h5, figure{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    font-style: normal;
}

